<app-page-header>
  Create
</app-page-header>
<mat-horizontal-stepper>
  <mat-step label="Cloud Foundry" [stepControl]="step1.stepControl">
    <app-create-application-step1 #step1></app-create-application-step1>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button matStepperNext>Next</button>
  </mat-step>
  <mat-step label="Name" [stepControl]="step2.stepControl">
    <app-create-application-step2 #step2></app-create-application-step2>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button matStepperNext>Next</button>
  </mat-step>
  <mat-step label="Create Route">
    <app-create-application-step3 #step3></app-create-application-step3>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button matStepperNext>Done</button>
  </mat-step>
</mat-horizontal-stepper>
